
# project infrstructure

.Rproj.user
.Rhistory
.RData
.Ruserdata

# quarto infrastructure
.quarto/
quarto/

# folders
_freeze/
_web/
data-raw/judy/
data-raw/rds/
libs/
site_libs/

# file types
*.html
*.xl*
!data-raw/neon/boyd_neon_metadata.xlsx

# files


/.quarto/
