
# project infrstructure

.Rproj.user
.Rhistory
.RData
.Ruserdata

# quarto infrastructure
.quarto/
quarto/

# folders
_freeze/
_web/
data-raw/judy/
data-raw/rds/
libs/
site_libs/
work/

# file types
*.html
*.xl*

# exceptions
!data-raw/work/boyd_neon_metadata.xlsx
!data-raw/work/prelim_variable_lookup.rds

# files


/.quarto/
